
h1 {
    font-family: 'Times New Roman', Times, serif; /*changes font to times new roman family*/
    color: rgb(30, 58, 37); /*changes text to dark green*/
    text-align: center; /*aligns the text to center*/
    font-size: 54px; /*increases the size of the h1 element*/
    text-shadow: 5px 4px 3px #105c23; /*adds shadow to h1 element, size, blurring, color*/
}

h2 {
    font-family: 'Times New Roman', Times, serif; /*changes font to times new roman family*/
    color: rgb(30, 58, 37) ; /*changes the font color to dark green*/
    font-size: 30px; /*increases the font size*/
}

h3 {
    font-family: 'Times New Roman', Times, serif; /*changes font to times new roman family*/
    color: rgb(30, 58, 37); /*changes the font color to dark green*/
    font-size: 20px; /*increases the font size*/
}

p {
    font-family: 'Times New Roman', Times, serif;
}

aside {
    border-style: solid; /*adds solid border style*/
    border-color: rgb(63, 116, 67); /*colors border dark green*/
    border-radius: 3px; /*rounds out border corners*/
    padding: 5px; /*adds padding between content and borders*/
    margin: 5px; /*adds space between border and content around it*/
    background-color: rgb(155, 236, 195, .3); /*changes background color to light green, adds opacity to it.*/  
}

.page-wrapper {
    margin: 20px; /*adjust the margin by 20pixels*/
    min-height: 100vh; /*fills the height of the viewport*/
    box-sizing: border-box; /* includes padding and border*/
}

#zen-intro, #zen-preamble, #zen-summary, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements { /*targets id zen-summary*/
    border-style: solid; /*adds solid border style*/
    border-color: rgb(63, 116, 67); /*colors border dark green*/
    border-radius: 3px; /*rounds out border corners*/
    padding: 5px; /*adds padding between content and borders*/
    margin: 5px; /*adds space between border and content around it*/
    background-color: rgb(155, 236, 195, .3); /*changes background color to light green, adds opacity to it.*/
}

#zen-supporting { /*targets both id's zen-intro zen-preamble*/
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr;
    gap: 10px;
    border-style: solid;
    border-color: rgb(63, 116, 67);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(155, 236, 195, .3);
}
