
h1 {
    font-family: 'Times New Roman', Times, serif; /*changes font to times new roman family*/
    color: rgb(30, 58, 37); /*changes text to dark green*/
    text-align: center; /*aligns the text to center*/
    font-size: 54px; /*increases the size of the h1 element*/
    text-shadow: 5px 4px 3px #105c23; /*adds shadow to h1 element, size, blurring, color*/
}

h2 {
    font-family: 'Times New Roman', Times, serif; /*changes font to times new roman family*/
    color: rgb(30, 58, 37) ; /*changes the font color to dark green*/
    font-size: 30px; /*increases the font size*/
    text-shadow: 5px 4px 3px #105c23; /*adds shadow to h1 element, size, blurring, color*/
}

h3 {
    font-family: 'Times New Roman', Times, serif; /*changes font to times new roman family*/
    color: rgb(30, 58, 37); /*changes the font color to dark green*/
    font-size: 20px; /*increases the font size*/
    text-shadow: 5px 4px 3px #105c23; /*adds shadow to h1 element, size, blurring, color*/
}

p > div {
    font-family: 'Times New Roman', Times, serif; /*changes font family to times new roman*/
    text-indent: 15px; /*indents the first sentence in a p element*/
    font-size: 18px; /*changes font to 17px size*/
}

aside {
    border-style: solid; /*adds solid border style*/
    border-color: rgb(63, 116, 67); /*colors border dark green*/
    border-radius: 3px; /*rounds out border corners*/
    padding: 5px; /*adds padding between content and borders*/
    margin: 5px; /*adds space between border and content around it*/
    background-color: rgb(155, 236, 195, .3); /*changes background color to light green, adds opacity to it.*/  
}

li {
    list-style-type: circle; /*changes the style to list element to open circles*/
}

a:link {
    font-family: 'Times New Roman', Times, serif; /*changes font family to times new roman*/
    text-decoration: none; /*removes line underneath links*/
    color: #f70f83; /*changes link color to light pink*/
}

a:hover {
    cursor: pointer; /*changes curser to pointer when hovered over link*/
    color: #7b0ff7; /*changes color when hovered over link to purple*/
}

a:visited {
    color: #7c1649; /*changes color of link to dark pink after clicked*/
}

.page-wrapper {
    margin: 20px; /*adjust the margin by 20pixels*/
    min-height: 100vh; /*fills the height of the viewport*/
    box-sizing: border-box; /* includes padding and border*/
}

.design-selection, .design-archives, .zen-resources {
    border-style: solid; /*styles the border to a solid line*/
    border-color: rgb(63, 116, 67); /*changes border color to dark green*/
    margin: 5px; /*adds 5pixels to the space between the contents border and outer space*/
    padding-left: 5px; /*adds 5 pixels to the left of the padding to the border and content*/
}

#zen-intro, #zen-preamble, #zen-summary, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements { /*targets id zen-summary*/
    border-style: solid; /*adds solid border style*/
    border-color: rgb(63, 116, 67); /*colors border dark green*/
    border-radius: 3px; /*rounds out border corners*/
    padding: 5px; /*adds padding between content and borders*/
    margin: 5px; /*adds space between border and content around it*/
    background-color: rgb(155, 236, 195, .3); /*changes background color to light green, adds opacity to it.*/
}

#zen-supporting { /*targets both id's zen-intro zen-preamble*/
    display: grid; /*displays content in a grid*/
    grid-template-columns: .5fr .5fr .5fr .5fr; /*defines the size of each column*/
    gap: 10px; /*adds a gap of 10 pixels between each column*/
    border-style: solid; /*changes border to solid*/
    border-color: rgb(63, 116, 67); /*changes border color*/
    border-radius: 3px; /*rounds out the border by 3 pixels*/
    padding: 5px; /*adds space by 5 pixels between content and border*/
    margin: 5px; /*adds space by 5 pixels from outside space to the border*/
    background-color: rgb(155, 236, 195, .3); /*changes background color to green*/
}

