body {
    border-style: solid; /*adds solid border style*/
    border-color: rgba(0, 0, 0, 0.5); /*changes border color to black with transparency*/
    border-radius: 3px; /*rounds out border edges*/
    border-width: 5px; /*makes the width of the border 5pixels thick*/
    padding: 5px; /*adds space between content and border by 5 pixels*/
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*changes font family to verdana*/
    font-size: 58px; /*adjust the size of the font*/
}

h2 {
     font-family: Verdana, Geneva, Tahoma, sans-serif; /*changes font family to verdana*/
    font-size: 30px; /*adjust the size of the font*/
}

h3 {
     font-family: Verdana, Geneva, Tahoma, sans-serif; /*changes font family to verdana*/
    font-size: 22px; /*adjust the size of the font*/
}

p > div {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*changes font family to verdana*/
    font-size: 22px; /*adjust the size of the font*/
}

aside {

}

a:link {

}

a:hover {

}

a:visited {

}

#zen-intro, #zen-preamble, #zen-summary, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements { /*targets id zen-summary*/

}

#zen-supporting { 

}