
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*changes font family to verdana*/
}

h2 {

}

h3 {

}

p > div {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*changes font family to verdana*/
}

aside {

}

a:link {

}

a:hover {

}

a:visited {

}

.page-wrapper {

}

#zen-intro, #zen-preamble, #zen-summary, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements { /*targets id zen-summary*/

}

#zen-supporting { 

}