body {
    border-style: solid; /*adds solid border style*/
    border-color: rgba(0, 0, 0, 0.5); /*changes border color to black with transparency*/
    border-radius: 3px; /*rounds out border edges*/
    border-width: 5px; /*makes the width of the border 5pixels thick*/
    padding: 5px; /*adds space between content and border by 5 pixels*/
    margin: 20px;
}

h1 {
    font-family: 'Times New Roman', Times, serif; /*changes the font to Times New Roman*/
    font-size: 58px; /*adjust the size of the font*/
    display: grid; /*displays content in grid format*/
}

h2 {
    font-family: 'Times New Roman', Times, serif; /*changes the font to Times New Roman*/
    font-size: 30px; /*adjust the size of the font*/
}

h3 {
    font-family: 'Times New Roman', Times, serif; /*changes the font to Times New Roman*/
    font-size: 22px; /*adjust the size of the font*/
}

p > div {
    font-family: 'Times New Roman', Times, serif; /*changes the font to Times New Roman*/
    font-size: 22px; /*adjust the size of the font*/
}

aside {
    border-style: solid; /*adds solid style to border*/
    border-color: black; /*changes the border to black*/
    border-left: 5px; /*adjusted to remove the left side of the border*/
    border-right: 5px; /*adjusted to remove the right side of the border*/
    border-width: 1px; /*adjust width of the border*/
}

a:link {
    color: rgb(1, 35, 129); /*changes text color to dark blue*/
}

a:hover {
    cursor: pointer; /*changes curser to pointer when hovered over*/
    color: rgb(80, 80, 255); /*changes text color to light blue when hovered over*/
}

a:visited {
    color: rgb(98, 26, 167); /*changes the text color to dark purple after visited*/
}

#zen-intro, #zen-preamble, #zen-summary, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements { /*targets id zen-summary*/
    border-style: solid; /*adds solid style to border*/
    border-color: black; /*changes the border to black*/
    border-left: 5px; /*adjusted to remove the left side of the border*/
    border-right: 5px; /*adjusted to remove the right side of the border*/
    border-width: 1px; /*adjust width of the border*/
}

